#auth-page-container {
    margin: 0;
    padding: 0;
    width: 100vw;
    /* viewport height - header height */
    height: calc(100vh - 70px);
    overflow: hidden;
    background-color: var(--orange-lighter);
}
#auth-container * {
    font-family: 'Secular One', sans-serif;
}
#auth-container {
    width: min(500px, 90%);
    height: 70%;
    position: absolute;
    left: 50%;
    top: calc(50% + 35px);
    background-color: var(--orange);
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 0 60px 23px black, 0 0 8px 10px black, inset 0 0 5px 3px black;
}
#auth-option-chose-container {
    height: min(20%, 87px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 3px solid black;
    box-shadow: 0 0 3px 1px black;
}
.auth-option-button {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    border: none;
    background-color: black;
    color: white;
    font-size: 25px;
    box-shadow: 0 0 2px 1px black;
}
.auth-option-button:hover,
.auth-option-button.selected {
    z-index: 2;
    background-color: white;
    box-shadow: inset 0 0 4px 3px black, 0 0 2px 1px black;
    color: black;
}

.auth-login-screen {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.auth-form {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    align-items: center;
}
.auth-form > input {
    height: min(25%, 70px);
    font-size: 20px;
    width: 80%;
    margin: 3px 0;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 3px solid black;
    box-shadow: 0 0 3px 1px black;
}
.auth-form > .auth-input {
    outline: none;
    color: black;
}
.auth-submit {
    color: white;
    background-color: black;
    cursor: pointer;
}
.auth-form > .auth-input:hover,
.auth-submit:hover,
.auth-form > .auth-input:focus {
    box-shadow: inset 0 0 3px 1px black;
    background-color: white;
    color: black;
}
.auth-form .form-validation-error-message {
    font-weight: 200;
    margin: 0;
    font-size: 16px;
}

.login-with-google-btn {
    width: 280px;
    min-height: 70px;
    border: none;
    border-radius: 7px;
    background: url('src/assets/btn_google_signin_light_normal_web@2x.png');
    background-size: 280px;
    background-repeat: no-repeat;
    background-position: center;
}
.login-with-google-btn:hover {
    background-color: white;
    border: 4px solid rgb(63, 74, 112);
}

@media only screen and (max-device-width: 600px) {
    #auth-container {
        height: 80%;
    }

    .auth-form .form-validation-error-message {
        font-size: 13px;
    }
}
