#advert-view-page-container {
    width: 100%;
    height: 100%;
    background-color: var(--gray);
}
#advert-view-main *::selection {
    background-color: rgb(204, 203, 255);
}
#advert-view-main {
    width: 60%;
    height: 100%;
    margin: 15px auto;
    border: 3px solid black;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 15px 10px;
}
#advert-view-page-container hr {
    width: 100%;
    height: 8px;
    border: none;
    background-color: var(--orange-light);
    box-shadow: 0 0 1px 2px rgb(100, 100, 100);
}
#advert-view-main .advert-info-container {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#advert-view-main > #advert-picture-section {
    background-color: white;
    padding: 5px 20px;
    min-width: 50%;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 5px;
}

#advert-picture-section .normal-size-image {
    display: block;
    height: auto;
    object-fit: cover;
    height: 540px;
    margin: auto;
    padding: 20px;
    background-color: var(--gray);
    border-radius: 5px;
    box-shadow: inset 0 0 3px 2px black;
}
#advert-basic-info-container {
    border-radius: 5px;
    padding: 15px 5%;
    margin: 10px auto;
}
.category-separator {
    margin: 0 3px;
}
#advert-view-main #advert-city {
    font-size: 24px;
}
#advert-view-main #advert-title {
    display: block;
    font-size: 30px;
}
#advert-view-main #advert-price {
    font-size: 35px;
    margin-top: 5px;
}
#advert-view-main #advert-condition {
    display: block;
    border: 1px solid black;
    background-color: var(--orange-light);
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 1% 0;
}
#advert-view-main #advert-description-container {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px 5%;
}
#advert-view-main #advert-description {
    font-size: 18px;
    padding-left: 10px;
}
#advert-view-main #advert-description-heading {
    font-size: 28px;
    margin: 0;
}
#advert-owner-profile-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#advert-owner-profile-container #profile {
    background-color: var(--orange-light);
    margin-right: 10%;
    padding: 7px 15px;
    width: min-content;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 30px;
    align-self: flex-end;
    display: flex;
    align-items: center;
}
#profile svg {
    padding-right: 10px;
    width: 30px;
    height: 30px;
}
#advert-owner-profile-container #profile:hover {
    cursor: pointer;
    user-select: none;
    background-color: var(--orange);
    box-shadow: inset 0 0 2px 1px black;
}

@media only screen and (max-device-width: 1000px) {
    #advert-view-main {
        width: 75%;
    }
    #advert-picture-section .normal-size-image {
        height: 340px;
    }
}
@media only screen and (max-device-width: 600px) {
    #advert-view-main {
        width: 95%;
    }
    #advert-picture-section .normal-size-image {
        height: 240px;
    }
    #advert-view-main #advert-title {
        font-size: 22px;
    }
    #advert-view-main #advert-city {
        padding-top: 10px;
        font-size: 18px;
    }
    #advert-view-main #advert-price {
        font-size: 27px;
        margin-top: 5px;
    }
    #advert-view-main #advert-condition {
        width: 100px;
        height: 20px;
        line-height: 20px;
        font-size: 13px;
        text-align: center;
        margin: 1% 0;
    }
    #advert-view-main #advert-description-container {
        padding: 5px 2%;
    }
    #advert-view-main #advert-description {
        font-size: 15px;
    }
    #advert-owner-profile-container {
        padding: 5px;
    }
    #advert-owner-profile-container #profile {
        margin-right: 10%;
        font-size: 20px;
    }
}
