#adverts-list-container {
    background-color: var(--gray);
    margin: 15px auto;
    border: 2px solid black;
    border-radius: 4px;
    width: 80%;
    box-sizing: border-box;
}
#adverts-list-container * {
    font-family: 'Secular One', sans-serif;
}
#adverts-list-container *::selection {
    background-color: var(--dark-user-select);
}
.adverts-list-header {
    background-color: black;
}
.advert-li-container .image-container {
    width: max(130px, 15%);
    max-height: 170px;
    display: flex;
    justify-content: center;
    margin: 0 5px;
}
.advert-li-container img {
    max-width: 100%;
    max-height: 100%;
    margin: auto 0;
    object-fit: contain;
}
#adverts-list-container .advert-li-container:hover {
    background-color: var(--orange-lighter);
}
.advert-li-container {
    position: relative;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: white;
    border: 2px solid black;
    padding: 3px;
    box-shadow: inset 0 0 2px 1px black;
    overflow: hidden;
}
/* adverts section used in profile and stared pages */
.full-width {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.full-width .advert-li-container {
    height: 160px;
    width: 90%;
    margin: 0.5%;
    display: flex;
    justify-content: flex-start;
}

.full-width .advert-li-title {
    max-height: 40%;
    font-size: 20px;
}
.full-width .advert-li-category {
    font-size: 17px;
}
.full-width .advert-li-details {
    align-items: center;
    width: 30%;
}

/* adverts section used in home page */
.half-width {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.half-width .advert-li-container {
    width: 49%;
    height: 180px;
    margin: 0.5%;
    display: grid;
    grid-template-columns: 30% 70%;
}
.half-width .advert-li-details {
    width: 30%;
}

.advert-li-category {
    font-size: 15px;
}
.advert-li-info {
    display: flex;
    justify-content: space-between;
    text-align: right;
    color: black;
    padding: 10px;
    flex-basis: 90%;
}

.advert-li-main-info {
    width: 80%;
    text-align: left;
    font-size: 19px;
}
.advert-li-views {
    margin-top: 10px;
    font-size: 16px;
}
.advert-li-title {
    max-height: 80px;
    margin-top: 5px;
    overflow: hidden;
}

.advert-li-details {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
    justify-self: flex-end;
}
.advert-heart-button {
    margin-top: 10px;
    background-color: transparent;
    border: none;
}
.heart-svg {
    width: 35px;
    height: 30px;
}
.empty-heart:hover {
    stroke: var(--orange);
}
.full-heart {
    stroke: black;
    stroke-width: 2px;
    fill: var(--orange);
}
.advert-li-info .advert-price {
    font-size: 24px;
    white-space: nowrap;
    max-height: 30px;
    letter-spacing: 1px;
}
.advert-li-info .advert-location {
    margin-top: 5px;
}
.advert-li-info .advert-condition {
    width: 90px;
    margin-top: 5px;
    background-color: var(--orange-light);
    text-align: center;
    border: 1px solid black;
}

.advert-owner-control-container {
    width: max(130px, 15%);
    margin: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.advert-control-btn {
    width: 100%;
    height: 30%;
    font-size: 16px;
    background-color: black;
    box-sizing: border-box;
    margin: 5px 0;
    color: white;
    border: none;
    border-radius: 3px;
}
.advert-control-btn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    box-shadow: inset 0 0 5px 1px black;
}
.advert-delete-btn.confrim {
    background-color: rgb(214, 0, 0);
    border: 2px solid black;
    color: black;
}

@media only screen and (max-device-width: 1250px) {
    #adverts-list-container {
        width: 96%;
        margin: 5px 2%;
    }
    .advert-li-main-info {
        width: 70%;
    }
    .half-width .advert-li-container,
    .full-width .advert-li-container {
        width: 99%;
    }
    .half-width {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .half-width .advert-li-container {
        height: 160px;
        margin: 0.5%;
        display: flex;
        justify-content: flex-start;
    }

    .half-width .advert-li-title {
        max-height: 40%;
        font-size: 20px;
    }
    .half-width .advert-li-category {
        font-size: 17px;
    }
    .half-width .advert-li-details {
        width: 30%;
    }
}
@media only screen and (max-device-width: 600px) {
    .half-width .advert-li-info,
    .full-width .advert-li-info {
        padding: 10px 0;
        width: 80%;
    }

    .half-width .advert-li-title,
    .full-width .advert-li-title {
        max-height: 40%;
        font-size: 16px;
        max-height: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .half-width .advert-li-category,
    .full-width .advert-li-category {
        height: 13px;
        overflow: hidden;
    }
    .half-width .advert-li-category span,
    .full-width .advert-li-category span {
        display: block;
        height: 13px;
        font-size: 13px;
        line-height: 15px;
    }
    .advert-li-views {
        font-size: 13px;
    }
    h3 {
        font-size: 22px;
    }
    .advert-owner-control-container {
        width: 70px;
        margin: 5px;
    }
    .advert-delete-btn {
        width: 100%;
        height: 25%;
        font-size: 10px;
    }
    .full-width .advert-li-details,
    .half-width .advert-li-details {
        width: 30%;
        padding-right: 3px;
    }

    .advert-li-main-info {
        width: 50%;
    }
    .advert-li-details {
        justify-content: center;
        width: 70px;
    }
    .full-heart {
        stroke: black;
        stroke-width: 2px;
        fill: var(--orange);
    }
    .advert-li-info .advert-price {
        font-size: 16px;
    }
    .advert-li-info .advert-location {
        margin-top: 5px;
        font-size: 15px;
    }
    .advert-li-info .advert-condition {
        width: 60px;
        font-size: 13px;
    }
}

/* image loading animation */
/* Code by https://github.com/zbryikt */
.lds-hourglass {
    display: inline-block;
    position: relative;
    margin: auto;
    width: 120px;
    height: 120px;
}
.lds-hourglass:after {
    content: ' ';
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 58px solid var(--orange);
    border-color: var(--orange-light) transparent var(--orange-light) transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
/* Code by https://github.com/zbryikt */
