#adverts-section {
    background-color: var(--gray);
    width: 100%;
}
#adverts-list-container {
    background-color: var(--gray);
    margin: 15px auto;
    border: 2px solid black;
    border-radius: 4px;
    width: 80%;
    box-sizing: border-box;
}
.adverts-list-header {
    font-family: 'Secular One', sans-serif;
    background-color: black;
}
#adverts-list {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.advert-element-container {
    width: 49.5%;
    height: 200px;
    margin: 0.2%;
    padding: 0.4%;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: white;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 43% 57%;
}
.advert-element-container:hover {
    background-color: var(--orange-lighter);
}
.advert-element-container img {
    z-index: 1;
    display: block;
    object-fit: contain;
    height: 100%;
    background-color: var(--gray);
}
.home-advert-info {
    display: flex;
    text-align: right;
    color: black;
    padding: 10px;
    font-family: 'Secular One', sans-serif;
}
.home-advert-title {
    width: 70%;
    text-align: left;
    font-size: 22px;
}
.home-advert-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
}
.home-advert-info .advert-price {
    font-size: 24px;
    letter-spacing: 1px;
}
.home-advert-info .advert-location {
    margin-top: 10px;
}
.home-advert-info .advert-condition {
    width: 90px;
    margin-top: 15px;
    background-color: var(--orange-light);
    text-align: center;
    border: 1px solid black;
}

/* image loading animation */
.lds-hourglass {
    display: inline-block;
    position: relative;
    margin: auto;
    width: 120px;
    height: 120px;
}
.lds-hourglass:after {
    content: ' ';
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 58px solid var(--orange);
    border-color: var(--orange-light) transparent var(--orange-light) transparent;
    animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
